@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

.dialog-pane {
  -fx-background-color: #fff;
}

.dialog-pane:header .header-panel {
  -fx-background-color: #fff;
  -fx-padding: 16px 16px 0px 16px;
}

.dialog-pane:header .header-panel .label {
  -fx-font-size: 16px;
  -fx-text-fill: #000;
  -fx-font-family: "Roboto Medium";
}

.dialog-pane>.content.label {
  -fx-padding: 8px 16px 16px 16px;
  -fx-background-color: #fff;
  -fx-text-fill: #71717a;
  -fx-font-size: 13px;
  -fx-font-family: "Roboto";
}

.dialog-pane .button {
  -fx-cursor: hand;
  -fx-background-color: #ffffff;
  -fx-border-width: 1px;
  -fx-border-color: #e4e4e7;
  -fx-border-radius: 4px;
  -fx-font-family: "Roboto Medium";
}

.dialog-pane .button:hover {
  -fx-cursor: hand;
  -fx-background-color: #f4f4f5;
}

.btn-dark {
  -fx-cursor: hand;
  -fx-border-radius: 4px;
  -fx-font-family: "Roboto Medium";
  -fx-background-color: #18181be5 !important;
  -fx-text-fill: #fff !important;
  -fx-border-color: #18181be5 !important;
}

.btn-dark:hover {
  -fx-background-color: #18181bfd;
}
